@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Migra";
  src: url("../../public/fonts/Migra-Extralight.otf");
}

body {
  background-color: #111;
  color: #e5e5e5;
  padding: 1rem;
}

.blog {
  line-height: 1.75rem;
}

.prose {
  a {
    @apply text-neutral-200 hover:text-neutral-500 transition-colors duration-200;
  }
}
